@mixin font() {
  font-family: 'Roboto Condensed', Helvetica, Arial, sans serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.2;
}

@mixin popup() {
  transition: opacity 500ms ease-in-out;
  visibility: hidden;
  opacity: 0;

  &.show {
    opacity: 1;
    visibility: visible;
  }
}

@mixin create-media-query($breakpoint) {
  @if ($breakpoint == 0) {
    @content;
  } @else {
    @media screen and (min-width: $breakpoint * 1px) {
      @content;
    }
  }
}

@mixin create-cols($grid__cols, $modifier, $breakpoint) {
  @include create-media-query($breakpoint) {
    @for $i from 1 through $grid__cols {
      .col-#{$modifier}-#{$i} {
        flex-basis: (100 / ($grid__cols / $i)) * 1%;
        padding: 1px;
      }
    }
  }
}