#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  .fa.fa-square {
    color: #c73944;
    opacity: 0;
  }
  .one {
    animation: blink 2s ease-in-out 0.25s none infinite;
  }
  .two {
    animation: blink 2s ease-in-out .5s none infinite;
  }
  .three {
    animation: blink 2s ease-in-out .75s none infinite;
  }
  .four {
    animation: blink 2s ease-in-out 1s none infinite;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  25% {
    opacity: .25;
  }
  33% {
    opacity: .66;
  }
  50% {
    opacity: 1;
  }
  66% {
    opacity: .66;
  }
  75% {
    opacity: .25;
  }
  100% {
    opacity: 0;
  }
}