@import 'variables';

small {
  display: block;
  color: $secondary;
  border-top: 1px solid $tertiary;
  margin-top: 5px;
  font-size: 0.7em !important;
}
#card__country-flag {
  display: block;
  max-width: 100%;
  min-height: 9em;
  max-height: 9em;
  height: auto;
  width: auto;
  margin: 10px auto;
}
#card__country-code {
  font-size: 7.5em;
  text-align: center;
  margin: 10px auto;
}
#card__country-name {
  font-size: 2em;
  margin: 10px auto;
}
#card__country-details {
  list-style: none;
  display: flex;
  flex-direction: column;
  border-left: 1px solid $tertiary;
  border-right: 1px solid $tertiary;
  border-radius: 7px;
  padding: 0;
  li {
    margin: 2px 10px;
    line-height: 1.4;
    font-weight: 300;
  }
}
#card__map {
  background: $secondary;
  height: 15em;
  display: flex;

  img, svg {
    max-width: 100%;
    max-height: 14em;
    display: block;
    margin: auto;
    height: auto;
    width: auto;
    opacity: 0.75;
  }
}