<section class="row">
  <section class="col-md-6 col-sm-12">
    <img id="card__country-flag" src="{{flag}}" alt="Flag of {{name}}">
    <small>FLAG</small>
  </section>
  <section class="col-md-6 col-sm-12">
    <h1 id="card__country-code">{{code}}</h1>
    <small>COUNTRY CODE</small>
  </section>
</section>
<section class="row">
  <section id="card__map" class="col-md-12 col-sm-12">
  </section>
</section>
<section class="row">
  <section class="col-md-6 col-sm-12">
    <h2 id="card__country-name">{{name}}</h2>
    <small>COUNTRY</small>
  </section>
  <section class="col-md-6 col-sm-12">
    <ul id="card__country-details">
      <li>Capital City : <b>{{capital}}</b></li>
      <li>Population : <b>{{population}}</b></li>
      <li>Area : <b>{{area}}</b></li>
      <li>Region : <b>{{region}}</b></li>
      <li>SubRegion : <b>{{subregion}}</b></li>
      <li>Languages : <b>{{languages}}</b></li>
      <li>Currencies : <b>{{currencies}}</b></li>
    </ul>
  </section>
</section>