<section class="container">
  <section id="search" class="container"></section>
  <section id="card" class="container">Select a country from above</section>
</section>
<section id="loader">
  <i class="fa fa-square one" aria-hidden="true"></i>
  <i class="fa fa-square two" aria-hidden="true"></i>
  <i class="fa fa-square three" aria-hidden="true"></i>
  <i class="fa fa-square four" aria-hidden="true"></i>
</section>
<section id="message">
  <button id="close"><i class="fa fa-times" aria-hidden="true"></i></button>
  <h3 class="title"></h3>
  <p class="body"></p>
</section>