$fa-font-path: '~font-awesome/fonts';
@import '~normalize.css/normalize.css';
@import '~font-awesome/scss/font-awesome';
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
@import 'variables';
@import 'mixins';
@import 'grid';
@import 'forms';

* {
  box-sizing: border-box;
}

body {
  max-width: 600px;
  margin: 0 auto;
  color: $primary;
  @include font();

  #card, #search {
    background: $accent;
    box-shadow: 2px 2px 2px 2px $secondary;
    border-radius: 2px;
  }
  #loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    display: flex;
    justify-content: center;
    @include popup();

    .fa.fa-square {
      color: $secondary;
      opacity: 0;
      margin: auto 7px;
    }
    .one {
      animation: blink 2s ease-in-out 0.25s none infinite;
    }
    .two {
      animation: blink 2s ease-in-out .5s none infinite;
    }
    .three {
      animation: blink 2s ease-in-out .75s none infinite;
    }
    .four {
      animation: blink 2s ease-in-out 1s none infinite;
    }
    
    
    @keyframes blink {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  }
  #message {
    width: 50%;
    height: auto;
    background: $primary;
    position: fixed;
    bottom: 0;
    left: 25%;
    border: 2px solid $secondary;
    border-radius: 2px;
    color: $accent;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    @include popup();

    #close {
      border-radius: 2px;
      border: 1px solid $secondary;
      background: $primary;
      align-self: flex-end;
      position: absolute;
    }
  }
}